<app-top-bar></app-top-bar>
<div class="home-top">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="display-chart">
          <div style="display: block;">
            <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels"
              [options]="lineChartOptions.options" [colors]="lineChartColors" [legend]="lineChartLegend"
              [chartType]="lineChartType" [plugins]="lineChartPlugins">
            </canvas>
          </div>

        </div>
        <div class="table-cus">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Chỉ số</th>
                <th scope="col"></th>
                <th scope="col">+/-</th>
                <th scope="col">%</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of arrIndicator">
                <th scope="row">{{item.indicator}}</th>
                <td>{{item.count}}</td>
                <td>{{item.increase}}</td>
                <td>{{item.tb}}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="home_equal"
          style="min-width:393px; width: 100%; border: 0px solid #000; float:left; margin-left:5px">
          <div style="width:100%">
            <div class="bg_title_img" style="border-bottom: 1px dashed #333;">TÍN HIỆU BIỂU ĐỒ - KHUYẾN NGHỊ ĐẦU TƯ
            </div>
            <div style="padding:10px 10px; line-height:20px; color: #999">
              <!-- <span style="color:#009900"><span>&nbsp;MUA NHANH - BÁN NHANH:&nbsp;</span></span> -->
              <div class="" style="color: #009900;">MUA NHANH - BÁN NHANH</div>
              &nbsp;&nbsp;
              <a href="https://www.cophieu68.vn/chartsymbol_basic.php?id=CTD&amp;viewchart=1&amp;fastsearch=1&amp;mark=2&amp;signal=signal_rsi%23rsi7%23rsi7_203"
                target="_blank">CTD</a> &nbsp;&nbsp;&nbsp;&nbsp;<a
                href="https://www.cophieu68.vn/chartsymbol_basic.php?id=DCM&amp;viewchart=1&amp;fastsearch=1&amp;mark=2&amp;signal=signal_rsi%23rsi7%23rsi7_203"
                target="_blank">DCM</a> &nbsp;&nbsp;&nbsp;&nbsp;<a
                href="https://www.cophieu68.vn/chartsymbol_basic.php?id=DGC&amp;viewchart=1&amp;fastsearch=1&amp;mark=2&amp;signal=signal_rsi%23rsi7%23rsi7_203"
                target="_blank">DGC</a> &nbsp;&nbsp;&nbsp;&nbsp;<a
                href="https://www.cophieu68.vn/chartsymbol_basic.php?id=DPM&amp;viewchart=1&amp;fastsearch=1&amp;mark=2&amp;signal=signal_rsi%23rsi7%23rsi7_203"
                target="_blank">DPM</a> &nbsp;&nbsp;&nbsp;&nbsp;<a
                href="https://www.cophieu68.vn/chartsymbol_basic.php?id=FPT&amp;viewchart=1&amp;fastsearch=1&amp;mark=2&amp;signal=signal_rsi%23rsi7%23rsi7_203"
                target="_blank">FPT</a> &nbsp;&nbsp;&nbsp;&nbsp;<a
                href="https://www.cophieu68.vn/chartsymbol_basic.php?id=FTS&amp;viewchart=1&amp;fastsearch=1&amp;mark=2&amp;signal=signal_rsi%23rsi7%23rsi7_203"
                target="_blank">FTS</a> &nbsp;&nbsp;&nbsp;&nbsp;<a
                href="https://www.cophieu68.vn/chartsymbol_basic.php?id=HCM&amp;viewchart=1&amp;fastsearch=1&amp;mark=2&amp;signal=signal_rsi%23rsi7%23rsi7_203"
                target="_blank">HCM</a> &nbsp;&nbsp;&nbsp;&nbsp;<a
                href="https://www.cophieu68.vn/chartsymbol_basic.php?id=HDB&amp;viewchart=1&amp;fastsearch=1&amp;mark=2&amp;signal=signal_rsi%23rsi7%23rsi7_203"
                target="_blank">HDB</a> &nbsp;&nbsp;&nbsp;&nbsp;<a
                href="https://www.cophieu68.vn/chartsymbol_basic.php?id=HSG&amp;viewchart=1&amp;fastsearch=1&amp;mark=2&amp;signal=signal_rsi%23rsi7%23rsi7_203"
                target="_blank">HSG</a> &nbsp;&nbsp;&nbsp;&nbsp;<a
                href="https://www.cophieu68.vn/chartsymbol_basic.php?id=JVC&amp;viewchart=1&amp;fastsearch=1&amp;mark=2&amp;signal=signal_rsi%23rsi7%23rsi7_203"
                target="_blank">JVC</a> &nbsp;&nbsp;&nbsp;&nbsp;<a
                href="https://www.cophieu68.vn/chartsymbol_basic.php?id=LAS&amp;viewchart=1&amp;fastsearch=1&amp;mark=2&amp;signal=signal_rsi%23rsi7%23rsi7_203"
                target="_blank">LAS</a> &nbsp;&nbsp;&nbsp;&nbsp;<a
                href="https://www.cophieu68.vn/chartsymbol_basic.php?id=LSS&amp;viewchart=1&amp;fastsearch=1&amp;mark=2&amp;signal=signal_rsi%23rsi7%23rsi7_203"
                target="_blank">LSS</a> &nbsp;&nbsp;&nbsp;&nbsp;<a
                href="https://www.cophieu68.vn/chartsymbol_basic.php?id=MBG&amp;viewchart=1&amp;fastsearch=1&amp;mark=2&amp;signal=signal_rsi%23rsi7%23rsi7_203"
                target="_blank">MBG</a> &nbsp;&nbsp;&nbsp;&nbsp;<a
                href="https://www.cophieu68.vn/chartsymbol_basic.php?id=NTL&amp;viewchart=1&amp;fastsearch=1&amp;mark=2&amp;signal=signal_rsi%23rsi7%23rsi7_203"
                target="_blank">NTL</a> &nbsp;&nbsp;&nbsp;&nbsp;<a
                href="https://www.cophieu68.vn/chartsymbol_basic.php?id=PAN&amp;viewchart=1&amp;fastsearch=1&amp;mark=2&amp;signal=signal_rsi%23rsi7%23rsi7_203"
                target="_blank">PAN</a> &nbsp;&nbsp;&nbsp;&nbsp; <a
                href="https://www.cophieu68.vn/chartsymbol_basic.php?id=^vnindex&amp;showresult=1&amp;fastsearch=1&amp;mark=1&amp;signal=signal_rsi%23rsi7%23rsi7_203"
                style="color:#666; text-decoration:underline" target="_blank">see more</a>
              &nbsp;
              <a href="https://www.cophieu68.vn/compare_stock.php?keyword=CTD,DCM,DGC,DPM,FPT,FTS,HCM,HDB,HSG,JVC,LAS,LSS,MBG,NTL,PAN,"
                style="color:#666; text-decoration:underline" target="_blank">Compare</a>


              <!--a href="https://www.cophieu68.vn/filter_reportchart.php?signalbuy=1" style="color:#666; text-decoration:underline">Signal Back Test</a-->
              <span class="break"></span>
              <!-- <span style="color:#ff0000"><span>&nbsp;BẮT ĐẦU CHU KỲ TĂNG:&nbsp;</span></span> -->
              <div class="" style="color:#ff0000">BẮT ĐẦU CHU KỲ TĂNG:</div>
              &nbsp;&nbsp;
              <a href="https://www.cophieu68.vn/chartsymbol_basic.php?id=GEX&amp;viewchart=1&amp;fastsearch=1&amp;mark=2&amp;signal=signal_macd%23macd12_26_9%23macd12_26_9_11"
                target="_blank">GEX</a> &nbsp;&nbsp;&nbsp;&nbsp;<a
                href="https://www.cophieu68.vn/chartsymbol_basic.php?id=SJF&amp;viewchart=1&amp;fastsearch=1&amp;mark=2&amp;signal=signal_macd%23macd12_26_9%23macd12_26_9_11"
                target="_blank">SJF</a> &nbsp;&nbsp;&nbsp;&nbsp; <a
                href="https://www.cophieu68.vn/chartsymbol_basic.php?id=^vnindex&amp;showresult=1&amp;fastsearch=1&amp;mark=1&amp;signal=signal_macd%23macd12_26_9%23macd12_26_9_11"
                style="color:#666; text-decoration:underline" target="_blank">see more</a>
              &nbsp;
              <a href="https://www.cophieu68.vn/compare_stock.php?keyword=GEX,SJF,"
                style="color:#666; text-decoration:underline" target="_blank">Compare</a>
              <!--a href="https://www.cophieu68.vn/filter_reportchart.php?signalsell=1" style="color:#666; text-decoration:underline">Signal Back Test</a-->
              <span class="break"></span>
              <!-- <span style="color:#630"><span>&nbsp;CỔ PHIẾU MẠNH:&nbsp;</span></span> -->
              <div class="" style="color: #630;">CỔ PHIẾU MẠNH:</div>
              &nbsp;&nbsp;
              <a href="https://www.cophieu68.vn/chartsymbol_basic.php?id=CTD&amp;viewchart=1&amp;fastsearch=1&amp;mark=2&amp;signal=signal_macd%23macd12_26_9%23macd12_26_9_21%2Csignal_macd%23macd12_26_9%23macd12_26_9_3"
                target="_blank">CTD</a> &nbsp;&nbsp;&nbsp;&nbsp;<a
                href="https://www.cophieu68.vn/chartsymbol_basic.php?id=DGC&amp;viewchart=1&amp;fastsearch=1&amp;mark=2&amp;signal=signal_macd%23macd12_26_9%23macd12_26_9_21%2Csignal_macd%23macd12_26_9%23macd12_26_9_3"
                target="_blank">DGC</a> &nbsp;&nbsp;&nbsp;&nbsp;<a
                href="https://www.cophieu68.vn/chartsymbol_basic.php?id=DPM&amp;viewchart=1&amp;fastsearch=1&amp;mark=2&amp;signal=signal_macd%23macd12_26_9%23macd12_26_9_21%2Csignal_macd%23macd12_26_9%23macd12_26_9_3"
                target="_blank">DPM</a> &nbsp;&nbsp;&nbsp;&nbsp;<a
                href="https://www.cophieu68.vn/chartsymbol_basic.php?id=DRH&amp;viewchart=1&amp;fastsearch=1&amp;mark=2&amp;signal=signal_macd%23macd12_26_9%23macd12_26_9_21%2Csignal_macd%23macd12_26_9%23macd12_26_9_3"
                target="_blank">DRH</a> &nbsp;&nbsp;&nbsp;&nbsp;<a
                href="https://www.cophieu68.vn/chartsymbol_basic.php?id=HPX&amp;viewchart=1&amp;fastsearch=1&amp;mark=2&amp;signal=signal_macd%23macd12_26_9%23macd12_26_9_21%2Csignal_macd%23macd12_26_9%23macd12_26_9_3"
                target="_blank">HPX</a> &nbsp;&nbsp;&nbsp;&nbsp;<a
                href="https://www.cophieu68.vn/chartsymbol_basic.php?id=HSG&amp;viewchart=1&amp;fastsearch=1&amp;mark=2&amp;signal=signal_macd%23macd12_26_9%23macd12_26_9_21%2Csignal_macd%23macd12_26_9%23macd12_26_9_3"
                target="_blank">HSG</a> &nbsp;&nbsp;&nbsp;&nbsp;<a
                href="https://www.cophieu68.vn/chartsymbol_basic.php?id=NTL&amp;viewchart=1&amp;fastsearch=1&amp;mark=2&amp;signal=signal_macd%23macd12_26_9%23macd12_26_9_21%2Csignal_macd%23macd12_26_9%23macd12_26_9_3"
                target="_blank">NTL</a> &nbsp;&nbsp;&nbsp;&nbsp;<a
                href="https://www.cophieu68.vn/chartsymbol_basic.php?id=PLC&amp;viewchart=1&amp;fastsearch=1&amp;mark=2&amp;signal=signal_macd%23macd12_26_9%23macd12_26_9_21%2Csignal_macd%23macd12_26_9%23macd12_26_9_3"
                target="_blank">PLC</a> &nbsp;&nbsp;&nbsp;&nbsp;<a
                href="https://www.cophieu68.vn/chartsymbol_basic.php?id=VCB&amp;viewchart=1&amp;fastsearch=1&amp;mark=2&amp;signal=signal_macd%23macd12_26_9%23macd12_26_9_21%2Csignal_macd%23macd12_26_9%23macd12_26_9_3"
                target="_blank">VCB</a> &nbsp;&nbsp;&nbsp;&nbsp;<a
                href="https://www.cophieu68.vn/chartsymbol_basic.php?id=VCI&amp;viewchart=1&amp;fastsearch=1&amp;mark=2&amp;signal=signal_macd%23macd12_26_9%23macd12_26_9_21%2Csignal_macd%23macd12_26_9%23macd12_26_9_3"
                target="_blank">VCI</a> &nbsp;&nbsp;&nbsp;&nbsp;<a
                href="https://www.cophieu68.vn/chartsymbol_basic.php?id=000001.SS&amp;viewchart=1&amp;fastsearch=1&amp;mark=2&amp;signal=signal_macd%23macd12_26_9%23macd12_26_9_21%2Csignal_macd%23macd12_26_9%23macd12_26_9_3"
                target="_blank">000001.SS</a> &nbsp;&nbsp;&nbsp;&nbsp;<a
                href="https://www.cophieu68.vn/chartsymbol_basic.php?id=AAA&amp;viewchart=1&amp;fastsearch=1&amp;mark=2&amp;signal=signal_macd%23macd12_26_9%23macd12_26_9_21%2Csignal_macd%23macd12_26_9%23macd12_26_9_3"
                target="_blank">AAA</a> &nbsp;&nbsp;&nbsp;&nbsp;<a
                href="https://www.cophieu68.vn/chartsymbol_basic.php?id=AAV&amp;viewchart=1&amp;fastsearch=1&amp;mark=2&amp;signal=signal_macd%23macd12_26_9%23macd12_26_9_21%2Csignal_macd%23macd12_26_9%23macd12_26_9_3"
                target="_blank">AAV</a> &nbsp;&nbsp;&nbsp;&nbsp;<a
                href="https://www.cophieu68.vn/chartsymbol_basic.php?id=ABS&amp;viewchart=1&amp;fastsearch=1&amp;mark=2&amp;signal=signal_macd%23macd12_26_9%23macd12_26_9_21%2Csignal_macd%23macd12_26_9%23macd12_26_9_3"
                target="_blank">ABS</a> &nbsp;&nbsp;&nbsp;&nbsp;<a
                href="https://www.cophieu68.vn/chartsymbol_basic.php?id=ACB&amp;viewchart=1&amp;fastsearch=1&amp;mark=2&amp;signal=signal_macd%23macd12_26_9%23macd12_26_9_21%2Csignal_macd%23macd12_26_9%23macd12_26_9_3"
                target="_blank">ACB</a> &nbsp;&nbsp;&nbsp;&nbsp; <a
                href="https://www.cophieu68.vn/chartsymbol_basic.php?id=^vnindex&amp;showresult=1&amp;fastsearch=1&amp;mark=2&amp;signal=signal_macd%23macd12_26_9%23macd12_26_9_21%2Csignal_macd%23macd12_26_9%23macd12_26_9_3"
                style="color:#666; text-decoration:underline" target="_blank">see more</a>
              &nbsp;
              <a href="https://www.cophieu68.vn/compare_stock.php?keyword=CTD,DGC,DPM,DRH,HPX,HSG,NTL,PLC,VCB,VCI,000001.SS,AAA,AAV,ABS,ACB,"
                style="color:#666; text-decoration:underline" target="_blank">Compare</a>
            </div>
            <div id="g_my336x280" style="padding-bottom:5px; text-align:center;">
              <script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <!-- 336x280 -->
              <ins class="adsbygoogle" style="display:inline-block;width:336px;height:280px"
                data-ad-client="ca-pub-4497614833474292" data-ad-slot="5833857496"></ins>
              <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
            </div>
            <div class="bg_title_img">CALENDAR EVENTS - NEWS NOW</div>
            <div style="padding:5px">
              <div style="padding:0; margin:0">
                <table width="100%" cellpadding="3" cellspacing="0" style="background-color:#ccd6db; font-size:11px">
                  <tbody>
                    <tr style="background-color:#eee; font-size:10PX; font-weight:100">
                      <td>Symbol</td>
                      <td align="center" width="70">Ex-right date</td>
                      <td width="60" align="center">RATE</td>
                      <td align="right" width="35">PRICE TC</td>
                      <td width="20"></td>
                      <td align="right">matching price</td>
                      <td align="right">CHANGES</td>
                    </tr>
                    <tr style="background-color:#FFFFFF" *ngFor="let item of arrEventNow">
                      <td class="tr10"><a href="" [title]="item.title"><span>{{item.Symbol}}</span></a></td>
                      <td class="tr10" align="center">{{item.ExRightDate}}</td>
                      <td class="tr10" align="center">
                        {{item.rate}}
                      </td>
                      <td class="tr10" align="right">{{item.priceTC}}</td>
                      <td class="tr10" align="center">
                        <img *ngIf="item.isUp ==true" src="https://www.cophieu68.vn/images/up.gif">
                        <img *ngIf="item.isUp ==false" src="https://www.cophieu68.vn/images/down.gif">
                        <!-- <img src="https://www.cophieu68.vn/images/balance.gif"> -->
                      </td>
                      <td class="tr10" align="right">{{item.matchingPrice}}</td>
                      <td class="tr10" align="right">{{item.changes}}</td>
                    </tr>

                  </tbody>
                </table>

              </div>
              <div style="clear:both; padding-top:5px"></div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-sm-3">
        <div class="home_equal"
          style="min-width:393px; width: 100%; border: 0px solid #000; float:left; margin-left:5px">
          <div style="width:100%">
            <div class="bg_title_img" style="border-bottom: 1px dashed #333;">TÍN HIỆU BIỂU ĐỒ - KHUYẾN NGHỊ ĐẦU TƯ
            </div>
            <div class="form-slider">
              <div class="title">
                EPS
                <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" min="1" max="100000">
                </mat-slider>
              </div>
              <div class="title">
                PE
                <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" min="1" max="100000">
                </mat-slider>
              </div>
              <div class="title">
                ROE
                <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" min="1" max="100000">
                </mat-slider>
              </div>
              <div class="title">
                P/B
                <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" min="1" max="100000">
                </mat-slider>
              </div>
              <div class="title">
                Beta
                <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" min="1" max="100000">
                </mat-slider>
              </div>
            </div>
          </div>
        </div>
        <div class="table-cus">
          <div>Tỉ Giá - Vietcombank (Cập nhật 5phút/ lần)</div>

          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Chỉ số</th>
                <th scope="col"></th>
                <th scope="col">+/-</th>
                <th scope="col">%</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of arrIndicator">
                <th scope="row">{{item.indicator}}</th>
                <td>{{item.count}}</td>
                <td>{{item.increase}}</td>
                <td>{{item.tb}}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>